/*#
@colors&{"titlesAccentColor":"#161616","labelsAccentColor":"#466bb0","linksAccentColor":"#0f62fe","backgroundAccentColor":"#f4f4f4","isDefault":true}&colors@
@info@STYLES BASKET SELECTIONS METADATA@info@
@name&styles_basket&name@
@aspects&wh-tiles,accent-colors-selector,wh-menu-page-colors-labels-color-lighten,wh-right-toc-solid-background-labels,fonts-selector,notes-style-borders-square,notes-colors-background,code-font-courier-new,code-colors-theme-programmer,wh-left-toc-thin-borders,wh-right-toc-borders-borderless,wh-search-component-colors-white,left-pages-header-empty,right-pages-header-empty,pdf-index-groups-colors-labels-colors,toc-numbering-empty,left-pages-footer-publication-title,right-pages-footer-chapter-title-page&aspects@
@info@WARNING: PLEASE DON'T MODIFY THIS FILE. MODIFICATION CAN CAUSE UPLOADING ERRORS@info@
@info@TIP: YOU CAN USE custom.css TO ADD CUSTOM SELECTORS.@info@
#*/
@font-face {
  font-family: 'BrandingFont';
  src: url(resources/primaryBrandingFonts.ttf) format('truetype');
}
@font-face {
  font-family: 'BrandingFont';
  src: url(resources/primaryBrandingFonts-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'BrandingFont';
  src: url(resources/primaryBrandingFonts-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'BrandingFont';
  src: url(resources/primaryBrandingFonts-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'SecondaryBrandingFont';
  src: url(resources/secondaryBrandingFonts.ttf) format('truetype');
}
@font-face {
  font-family: 'SecondaryBrandingFont';
  src: url(resources/secondaryBrandingFonts-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SecondaryBrandingFont';
  src: url(resources/secondaryBrandingFonts-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'SecondaryBrandingFont';
  src: url(resources/secondaryBrandingFonts-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}
/* Bold selection in Publication TOC. WebHelp only. */
@media screen {
  .wh_publication_toc .active > .topicref a {
    font-weight: bold;
  }
}
/*accent-colors-selector*/
.topictitle1,
.topictitle2,
.topictitle3,
.topictitle4,
.topictitle5,
.topictitle6,
*[class~='front-page/front-page-title'],
*[class~="toc/title"],
*[class~="placeholder/figurelist"] > *[class~="topic/title"],
*[class~="placeholder/tablelist"] > *[class~="topic/title"],
*[class~="index/groups"]::before {
  color: #161616;
}
*[class~='topic/shortdesc']:before {
  color: #466bb0;
}
*[class~='topic/xref'],
*[class~='topic/link'] {
  color: #0f62fe;
}
.related-links a,
.related-links a:visited {
  color: #0f62fe;
}
a,
a:hover,
a:visited {
  color: #0f62fe;
}
*[class~='topic/table'] th {
  background-color: #f4f4f4;
}
/*fonts-selector*/
@page {
  font-family: 'BrandingFont', sans-serif;
}
.topictitle1,
.topictitle2,
.topictitle3,
.topictitle4,
.topictitle5,
.topictitle6,
*[class~='front-page/front-page-title'],
*[class~="toc/title"],
*[class~="map/topicref"],
*[class~='topic/title'],
*[class~='topic/thead'],
*[class~="placeholder/figurelist"],
*[class~="placeholder/tablelist"],
*[class~="index/groups"]::before,
*[class~="index/group"] > *[class~="index/label"],
.wh_publication_title,
.wh_top_menu,
.wh_tile_title .topicref,
.wh_main_page_toc_entry .topicref,
.wh_index_terms span.wh_first_letter,
.wh-letters li a {
  font-family: 'BrandingFont', sans-serif;
}
body {
  font-family: 'SecondaryBrandingFont', sans-serif;
}
/*code-font-courier-new*/
*[class~='pr-d/codeblock'],
*[class~='codeblock'],
*[class~='pr-d/codeph'],
*[class~='codeph'] {
  font-family: 'Courier New', monospace;
}
/*code-colors-theme-programmer*/
*[class~='codeblock'] {
  color: #EEEEEE;
  background-color: #1E1E1E;
}
*[class~='hl-keyword'] {
  color: #93C763;
}
*[class~='hl-string'] {
  color: #EC7600;
}
*[class~='hl-tag-doctype-comment'],
*[class~='hl-comment'] {
  color: #7D8C93;
}
*[class~='hl-number'] {
  color: #FFCD22;
}
/*notes-style-borders-square*/
*[class~="topic/note"]:not([class~="hazard-d/hazardstatement"]) {
  border: 1px solid;
}
/*notes-colors-background*/
*[class~="topic/note"]:not([class~="hazard-d/hazardstatement"]) {
  background-color: #f4f4f4;
}
/*toc-numbering-empty*/
*[class~="map/topicref"][is-chapter]:not([is-part]) > *[class~="map/topicmeta"] > *[class~="topic/navtitle"]:before {
  content: none !important;
}
*[class~="topic/topic"][is-chapter]:not([is-part]) > *[class~="topic/title"]:before {
  content: none !important;
}
/*left-pages-header-empty*/
@page :left {
  @top-left {
    content: none;
  }
}
/*right-pages-header-empty*/
@page :right {
  @top-right {
    content: none;
  }
}
/*left-pages-footer-publication-title*/
@page :left {
  @bottom-left {
    content: string(maptitle);
  }
}
/*right-pages-footer-chapter-title-page*/
@page :right {
  @bottom-right {
    content: string(chaptertitle-no-prefix);
  }
  @bottom-left {
    content: counter(page);
  }
}
/*pdf-index-groups-colors-labels-colors*/
*[class~="index/groups"]:before,
*[class~="index/groups"] *[class~="index/group"] *[class~="index/label"],
*[class~="index/groups"] *[class~="index/link"] {
  color: #466bb0;
}
/*wh-tiles*/
/*wh-left-toc-thin-borders*/
.wh_publication_toc {
  border: thin solid #466bb0;
  padding: 1em;
}
/*wh-right-toc-borders-borderless*/
.wh_topic_toc {
  border-left: none;
}
/*wh-menu-page-colors-labels-color-lighten*/
.wh_header {
  background-color: #ffffff;
}
.wh_top_menu > ul > li a,
.wh_indexterms_link a::before {
  color: #466bb0;
}
.wh_indexterms_link a span {
  display: none;
}
.wh_top_menu ul li:hover {
  background-color: #ffffff;
}
.wh_top_menu ul ul {
  background-color: #ffffff;
}
.wh_top_menu ul ul li {
  border-top-color: #f4f4f4;
}
.wh_top_menu ul ul li a:hover {
  background: #f4f4f4;
}
#wh_menu_mobile_button {
  background-color: #dbdbdb;
}
/*wh-search-component-colors-white*/
.wh_search_button {
  background-color: #ffffff;
  color: #000000;
}

